body {
    background-color:rgb(25,28,38);
    width: 100%;
    height: 100%;
}

.stock_table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}

.stock_table thead tr {
    background-color: rgb(33,191,242);
    color: white;
    text-align: left;
    font-weight: bold;
}

.stock_table th, .stock_table td {
    padding: 12px 15px;
}

.stock_table tbody tr {
    border-bottom: thin solid rgb(33,191,242);
    color: white;
}

.stock_table tbody tr.active-row {
    font-weight: bold;
    color: rgb(33,191,242);
}

.stock_table tbody tr:nth-of-type(even) {
    background-color: rgb(31,36,48);
}

.stock_table tbody tr:last-of-type {
    border-bottom: 2px solid rgb(33,191,242);
}

.dashboard {
    position: relative;
    height: 500px;
    width: 100%;
}

.total_stocks {
    background-color:rgb(31,36,48);
    position: relative;
    top: 50px;
    left: 3%;
    height: 400px;
    width: 400px;
}

.port_value {
    background-color:rgb(31,36,48);
    position: relative;
    top: -350px;
    left: 27%;
    height: 400px;
    width: 400px;
}

.profit {
    background-color:rgb(31,36,48);
    position: relative;
    top: -750px;
    left: 51.5%;
    height: 400px;
    width: 400px;
}

.day_change {
    background-color:rgb(31,36,48);
    position: relative;
    top: -1150px;
    left: 76%;
    height: 400px;
    width: 400px;
}

.total_stocks h1, .port_value h1, .profit h1, .day_change h1 {
    color: white;
    position: relative;
    text-align: center;
    vertical-align: top;
}

.total_stocks h2, .port_value h2, .profit h2, .day_change h2 {
    color:rgb(33,191,242);
    font-size: 100px;
    text-align: center;
    vertical-align: middle;
}

.profit h1 {
    color: white;
}

.day_change h1 {
    color: white;
}

tr {
    color: red;
}