<!DOCTYPE html>
<html lang="en">
<header>
    <meta charset="UTF-8">
    <title>Stocks</title>
    {%  load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Stocks.css' %}">
</header>

<body>
    <div class="dashboard">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/Stocks.css' %}">
        <div class="vertical-menu">
            <a href="#" class="active">Gerard</a>
            <a href="#">Dashboard</a>
            <a href="#">Portfolio</a>
            <a href="#">Performance</a>
            <a href="#">Dividends</a>
        </div>
        <div class="total_stocks">
            <br>
            <h1>{{ num_stocks }} stocks</h1>
        </div>
        <div class="port_value">
            <br>
            <h1>Portfolio Value: {{ portfolio_value }}</h1>
        </div>
        <div class="profit">
            <br>
            <h1>Profit: {{ profit }}</h1>
        </div>
        <div class="day_change">
            <br>
            <h1>Change today: {{ day_change }}</h1>
        </div>
    </div>
</body>
</html>