<!DOCTYPE html>
<html lang="en">
<header>
    <meta charset="UTF-8">
    <title>Stocks</title>
    {% include "navigation_bar.html" %}
    {%  load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Stocks.css' %}">
</header>

<body>
    <div class="dashboard">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/Stocks.css' %}">
        <div class="total_stocks">
            <br>
            <h1>Total amount of stocks:</h1>
            <h2>{{ num_stocks }}</h2>
        </div>
        <div class="port_value">
            <br>
            <h1>Portfolio Value:</h1>
            <h2>$ {{ portfolio_value }}</h2>
        </div>
        <div class="profit">
            <br>
            <h1>Profit:</h1>
            <h2>$ {{ profit }}</h2>
        </div>
        <div class="day_change">
            <br>
            <h1>Change today:</h1>
            <h2>$ {{ day_change }}</h2>
        </div>
    </div>
    <div class="table">
        <table class="stock_table">
            <thead>
                    <tr>
                        {% for head in headers %}
                            <td>{{ head }}</td>
                        {% endfor %}
                    </tr>

            </thead>
            <tbody>
                {%  for stocks in portfolio_table %}
                    <tr>
                        <td>{{ stocks.0 }}</td>
                        <td>{{ stocks.1 }}</td>
                        <td>{{ stocks.2 }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>